<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'includes/_head.html' %}
</head>

<body>
    <div class="container">
        {% include 'includes/_navbar.html' %}
        {% for message in get_flashed_messages() %}
            <div class="alert alert-success" role="alert">
                <strong>Terima kasih!</strong> Pesanan Anda sudah diterima.
            </div>
        {% endfor %}
        <div class="card card-body col-md-10 ml-auto mr-auto">
            {% block content %}{% endblock %}
        </div>
    </div>
    <br>
</body>
{% include 'includes/_js.html' %}

</html>