<div class="form-group">
    <label class="form-label">Select product</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="produk" id="fabric" value="fabric" checked>
        <label class="form-check-label" for="fabric">
            Fabric (2,5m x 1,5m)
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="produk" id="shawl" value="shawl">
        <label class="form-check-label" for="shawl">
            Shawl (2m x 0,75m)
        </label>
    </div>
</div>

<div class="form-group">
    <label for="jumlah">Order amount</label>
    <input type="number" name="jumlah" id="jumlah" class="form-control col-md-2" min="1" max="10" value="1" required>
</div>


<div class="form-group">
    <label class="form-label">Select monument</label>
    <div class="selector">
        <input id="lawang-sewu" type="radio" name="monumen" value="lawang-sewu" checked>
        <label class="img-select lawang-sewu" for="lawang-sewu"></label>
        <input id="tugu-muda" type="radio" name="monumen" value="tugu-muda">
        <label class="img-select tugu-muda" for="tugu-muda"></label>
        <input id="blenduk" type="radio" name="monumen" value="blenduk">
        <label class="img-select blenduk" for="blenduk"></label>
    </div>
</div>

<div class="form-group">
    <label class="form-label">Select motifs</label>
    <div class="selector">
        <input id="truntum" type="radio" name="motif" value="truntum" checked>
        <label class="img-select truntum" for="truntum"></label>
        <input id="parang" type="radio" name="motif" value="parang">
        <label class="img-select parang" for="parang"></label>
        <input id="ceplok" type="radio" name="motif" value="ceplok">
        <label class="img-select ceplok" for="ceplok"></label>
    </div>
</div>