<div class="col-md-6 mr-auto">
    <div class="form-group">
        <label class="form-label">Name</label>
        <input type="text" name="nama" class="form-control" required>
    </div>
    <div class="form-group">
        <label class="form-label">Telephone Number</label>
        <input type="tel" name="telp" pattern="[0-9]{12}" class="form-control" required>
    </div>
    <div class="form-group">
        <label class="form-label">Address</label>
        <input type="text" name="alamat" class="form-control" required>
    </div>
    <div class="form-group">
        <label class="form-label">Email</label>
        <input type="email" name="email" class="form-control" required>
    </div>
</div>